@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');

@media (prefers-color-scheme: light) {
    body {
        color: #000000;
        background: #f9f9f9;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #f9f9f9;
        background: #060606;
    }

    img[src*=svg] {
        filter: invert(90%) grayscale(30%);
    }
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #bb2222;
}

a:hover {
    color: #dd1144;
}

body {
    font-family: Gabriola;
    font-size: 1.6rem;
    
    scroll-behavior: smooth;
}

#content {
    margin: auto 4em;
}

header {
    margin: 4em auto 0 auto;
    text-align: center;
    font-family: 'Waiting for the Sunrise';
}

header nav {
    margin-top: 1em;
}

header nav a {
    margin: 0 0.5em;
    font-size: 2.08rem;
    font-weight: bold;
}

.section {
    margin-top: 1em;
}

.section-title {
    font-family: 'Waiting for the Sunrise';
    font-size: 2.08rem;
}

.section-images {
    margin-top: 1em;
}

.section-image img {
    width: 100%;
}

footer {
    margin-top: 1em;
    text-align: center;
}