<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'unsafe-inline' https://cdn.skypack.dev; img-src 'self'; style-src 'self' https://fonts.googleapis.com; font-src https://fonts.gstatic.com">

        <title>{{ .Config.site.subtitle }} - {{ .Config.site.title }} {{ .Config.site.description }}</title>

        <meta name="description" content="{{ .Config.site.description }}">
        <meta name="author" content="{{ .Config.site.author }}">

        <meta property="og:title" content="{{ .Config.site.title }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="/hatchets">
        <meta property="og:description" content="{{ .Config.site.description }}">

        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" href="{{ .Config.site.logo }}">
    </head>

    <body>
        <header>
            <a href="../" aria-label="View homepage">
                <img loading="lazy" width="370" height="338" src="{{ .Config.site.logo }}" alt="View homepage" />
            </a>

            <nav>
                {{- range $val := .Config.site.icons }}
                    <a href="{{ $val.link }}" target="_blank" aria-label="{{ $val.label }}">
                        <img loading="lazy" width="50" height="50" src="{{ $val.icon }}" alt="{{ $val.label }}" />
                    </a>
                {{- end }}
                
                <br />

                {{- range $val := .Config.site.nav }}
                    <a href="{{ $val.link }}" aria-label="{{ $val.label }}">{{ $val.text }}</a>
                {{- end }}
            </nav>
        </header>

        <div id="content">
            {{- range $section := .Sections }}
                <div id="{{ .Slug }}" class="section">
                    <div class="section-title">
                        <a href="#{{ .Slug }}" aria-label="View {{ .Title }}">{{ .Title }}</a>
                    </div>

                    {{ .Text }}

                    <div class="section-images section-images-{{ .Slug }}">
                        <a class="section-image" href="{{ .Folder }}/{{ .Slug }}.svg" target="_blank" aria-label="View full resolution version of image {{ .Slug }}.svg">
                            <img loading="lazy" src="{{ .Folder }}/{{ .Slug }}.svg" alt="{{ .Slug }}.svg" />
                        </a>
                    </div>
                </div>
            {{- end }}
        </div>

        <footer>Maintained with ❤</footer>
    </body>
</html>